<div class="container mt-5" style="height: 100vh;">
    <div class="d-flex h-100 flex-row justify-content-center flex-wrap align-items-start">
        <%# Left side %>
        <div class="col-lg-6 col-md-6 p-2 mt-5">
            <%= image_tag ('iphone.png'), class: 'img-responsive', style: "width: 500px;" %>
        </div>
        <%# Right side %>
        <div class="col-lg-5 col-md-6 p-3 mt-3">
            <div class="card text-center">
                <h1>InstaClone</h1>
                <%= render 'devise/registrations/signup' %>
            </div>
            <div class="card text-center">
                <p>Already have an account? Sign In</p>
            </div>
        </div>      
    </div>
</div>
